body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: #004d66;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-section {
    background-color: #f7f7f7;
    padding: 20px;
    height: 100%;
    overflow: auto;
}

.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 500px;
}

label {display: inline-block; width: 190px; font-size: larger; font-size: 16px; color: #333333;}
.form input[type="text"],
.form input[type="number"],
.form select,
.form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    display: inline-block;
    width: 270px;
    font-family: monospace;
    color: #333333;
}
#chat-messages {
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 20px;
}

button {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #004d66;
    color: cornsilk;
    padding: 10px;
}

.form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.output-section {
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    position: relative;
}

.chat-input-container {
    position: relative;
}
#initial-help-text { position: absolute; top: 30%; left: 30%; }
.carousel { background: beige; height: 140px; padding: 10px; }

.input-wrapper { display: flex; align-items: center; justify-content: space-between; }

textarea {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    resize: none;
    border-radius: 4px;
    width: 80%;
    position: sticky;
    bottom: 0;
}

button.messageInvestMate {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

button.messageInvestMate:hover {
    background-color: #0056b3;
}

button.messageInvestMate:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

#userInput {
    flex-grow: 1; /* Input field takes available space */
}

.output {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    flex-grow: 1; /* Take up all available space */
    margin-bottom: 10px; /* Space for the chat input container */
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

fieldset legend { text-align: center; font-size: large; padding: 10px; }
.radio-buttons label { display: table-cell; width: auto; vertical-align: middle; }
.flip-card {
    height: 100%;
    /* perspective: 1000px; */
    align-self: center;
    overflow: hidden;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    /*transform: rotateY(180deg); !* This will trigger the flip on hover *!*/
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    background-color: #fff; /* Back side color */
    transform: rotateY(180deg);
    display: block;
    overflow: auto;
    padding: 10px;
}
p.note { color: grey; padding-top: 10px; font-size: 10px;}
.output.loading #chat-widget {
    pointer-events: none; /* Disable events while loading */
    opacity: 0.6; /* Semi-transparent, indicating it's unusable while loading */
}
.close-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 36px;
}
.container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.content-row {
    background-color: #f0f0f0;
    height: 95%;
    padding: 10px 0;
}
.container, .row.main-content { height: 100%; }
.col-md-6.right-section { padding: 0; }
.right-section { display: flex; flex-direction: column; }
.initial-prompts {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Adjust the gap between links */
    text-align: center;
    padding-bottom: 10px;
}

.initial-prompts a {
    text-decoration: none;
    color: #495057;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    display: block;
    font-size: smaller;
}

a.focus-link {
    text-decoration: none; /* Remove default underline */
    color: #333; /* Link text color */
    padding: 10px 20px; /* Add padding for spacing */

    position: relative; /* Enable positioning for pseudo-element */

    /* Transition for smooth animation */
    transition: background-color 0.2s;
}

a.focus-link:hover {
    background-color: beige;
    text-overflow: ellipsis;
}

/* Pseudo-element for the up arrow */
a.focus-link:focus::before {
    content: '\2191'; /* Unicode character for up arrow */
    position: absolute;
    top: 5px; /* Adjust top positioning */
    right: 5px; /* Adjust right positioning */
    font-size: 16px; /* Adjust font size */
}
#investmentChart {
    width: 100% !important;
    height: 400px !important;
    display: block;
    box-sizing: border-box;
}
table thead th {
    background-color: #004d66; /* Green background */
    color: white; /* White text color */
    font-size: 14px; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    padding: 10px; /* Padding for spacing */
    text-align: center; /* Center the text */
    border-bottom: 2px solid #ddd; /* Bottom border for each header cell */
}
table tbody td {
    font-size: 14px; /* Standard font size for body */
    color: #333; /* Darker text color for readability */
    padding: 8px; /* Padding for spacing */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd; /* Bottom border for each cell */
}

#allocationChart {width: 350px !important; height: 250px !important; display: inline-block !important; box-sizing: border-box;}
.loader {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Position the center */
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue (loader color) */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.user {
    background-color: #004d66; /* White background */
    color: #fff; /* You might want to change text color for better readability, considering the background is white */
    text-align: left;
    padding: 15px 5px;
    /* Light color border-top */
    border-bottom: 1px solid #e0e0e0; 
    line-height: 1.4;
    padding: 15px;
    font-size: 14px;
}

.assistant {
    line-height: 1.4;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 5px;
    background-color: #F7F7F8;
    font-size: 14px;
}